header {
    font-size: 40px;
    background-color: #ebdfe1;
    color: #1A7425;
    height: 50px;
    width: 100%;
    display: flex;
}

body {
    font-family: Montserrat, sans-serif;
    background-color: #fffbfa;
    color: #211a1c;
}

.wrapper{
    width: 1100px;
    box-sizing: border-box;
    margin: 0px auto;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#search_wrapper {
    width: 800px;
    flex-wrap: wrap;
}

.header {
    padding: 10px 10px;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    padding: 10px 0px;
}

.reg, .auth{
    display: flex;
    flex-direction: column;
    margin: 0px 50px;
}

#reg_form, #auth_form {
    display: flex;
    flex-direction: column;

}

.input_box {
    width: 300px;
    height: 30px;
    margin: 10px 10px 5px 0px;
    
}

.btn {
    margin: 10px 10px 5px 0px;

    width: 200px;
    font-size: 18px;
    height: 40px;
    color:white;
    background-color: #904763;
    border-radius: 20px;
    border: 10px;
    border-color: #AAAAAA;
    cursor:pointer; 
}

#reg_btn, #login_btn {
    width: 200px;
}

#logout_btn
{
    height: 30px;
    width: 90px;
}

#main_user {
    display: flex;
    flex-direction: column;
}

#search_ref
{
    margin-top: 30px;
}
a {
    margin: 10px 0px;
}

#form_search {
    width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form_add, .form_edit {
    display: flex;

    flex-direction: column;

}

#form_add{
    margin-top: 20px;
}

.info{
    display: flex;
    width: 300px;
    font-size: 26px;
}

#adress, #minprice, #maxprice, #price, #description{
    width : 300px;
    border: 1px solid #101010;
    border-radius: 10px;
    outline: 0;
    height: 40px;
    color: #101010;
    font-size: 26px;
    text-align: center;
    background-color: transparent;
    margin: 10px;
}

#minprice, #maxprice {
    width: 120px;
}

SELECT {
    background: transparent;
    border-radius: 20px;
    width: 300px;
    margin: 10px 10px 5px 10px;
    padding: 7px;
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    height: 40px;
    color: #211a1c;
    outline: 0;
    cursor:pointer
}

#return_from_search, #return_from_add
{
    display: inline-block;
    text-decoration: none;
    text-align: center;
    margin: 10px 10px 5px 0px;
    width: 150px;
    font-size: 18px;
    height: 36px;
    color:#904763;
    background-color: transparent;
    border-radius: 20px;
    cursor:pointer; 
}

#return_from_add{
    border: 3px solid #904763;
}
#submit_add{
    width: 150px;
}
#submit_search{
    width: 150px;
}
#header_search
{
    color: #101010;
}

#add_wrapper{
    
    width: 600px;
}

#header_add
{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}
/* span {
    display: inline-block;
    text-align: right;
    width: 100px;
}

#success, #fail{
    background-color: #ebdfe1;
    color: #1A7425;
    height: 30px;
    width: 300px;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    padding-top: 10px;
    margin-top: 10px;
}


#fail {
    color: #b62121;
    display: inline-block;
    width: auto;
    padding: 10px 10px 0px 10px;
}

table {
    margin-top: 30px;
    border-collapse: collapse;
}

tr {
    line-height: 50px;
}

th {
    background-color: #ebdfe1;
    font-size: 20px;
    height: 40px;
    padding: 0px;
}

td {
    font-size: 18px;
    margin-top: 10px; 
}




#header, #header1{
    width: 1100px;
    background-color: #ebdfe1;
    text-align: center;
    height: 40px;
    font-size: 25px;
    border-radius: 5px;
    padding-top: 10px;
    margin: 5px auto 15px auto;
    font-weight: 700;
}

#header1{
    width: 700px;
}

#container2 {
    width: 1100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: baseline;
}
.btn{
    margin: 2px 10px 0 10px;

    width: 310px;
    font-size: 18px;
    height: 40px;
    color:white;
    background-color: #904763;
    border-radius: 20px;
    border: 10px;
    border-color: #AAAAAA;
    cursor:pointer;
}

.btn.del, .btn.edit, .btn.submit {
    text-align: center;
    width: 200px;
}

.return {
    width: 200px;
    background-color: transparent;
    color: #904763;
    border: 3px solid;
    border-color: #904763;
}

.return:hover {
    background-color: #55293a;
    color: #fffbfa;
    border: none;
}

.add {
    width: 200px;
}
.home {
    width: 200px;
}
.del, .edit, .del:hover, .edit:hover{
    opacity: 0.5;
}

.btn:hover {
    background-color: #55293a;
    opacity: 1;
    font-size: 18px;
    transition-duration: 0.4s;
}

.btn:active {
    background-color: #55293a;
    font-size: 18px;
}




#buttons{
    margin-top: 50px;
}

.head_checkbox{
    width: 40px;
}

.head_servnum{
    width: 150px;
}

.head_lastname{
    width: 150px;
    text-align: left;
}

.head_firstname{
    width: 150px;
    text-align: left;
}

.head_middlename{
    width: 200px;
    text-align: left;
}

.head_position{
    width: 220px;
    text-align: left;
}

.head_date{
    width: 190px;
    text-align: left;
}

.elem_checkbox{
    width: 40px;
}

.elem_servnum{
    width: 150px;
    text-align: center;
}

.elem_lastname{
    width: 150px;
    text-align: left;
}

.elem_firstname{
    width: 150px;
    text-align: left;
}

.elem_middlename{
    width: 200px;
    text-align: left;
}

.elem_position{
    width: 220px;
    text-align: left;
}

.elem_date{
    width: 190px;
    text-align: center;
}

.select{
    background-color: #fffbfa;
}

.checkbox {
    width: 32px;
    height: 32px;
    margin: 4px;
}



:root {
    --headbgcolor: #326e5c;
    --headcolor: #d9faf0;
    --evenbgcolor: #458773;
    --evencolor: #d9faf0;
    --oddbgcolor: #5ea892;
    --oddcolor: #d9faf0;

  }
  body {
    font-family: arial;
      font-size:14px;
      padding: 15px 20px;
    display: flex;
    justify-content: center;
  }
  .table {
      width: 70%;
      border: none;
    border-collapse: collapse;
  }
  .table thead th {
      font-weight: bold;
      text-align: left;
      border: none;
      padding: 10px 15px;
      background: var(--headbgcolor);
    color: var(--headcolor);
      font-size: 14px;
  }
  .table thead tr th:first-child {
      border-radius: 8px 0 0 8px;
  }
  .table thead tr th:last-child {
      border-radius: 0 8px 8px 0;
  }
  .table tbody td {
      text-align: left;
      border: none;
      padding: 10px 15px;
      font-size: 14px;
      vertical-align: top;
  }
  .table tbody tr:nth-child(even){
      background: var(--evenbgcolor);
    color: var(--evencolor);
  }
  .table tbody tr:nth-child(odd){
      background: var(--oddbgcolor);
    color: var(--oddcolor);
  }
  .table tbody tr td:first-child {
      border-radius: 8px 0 0 8px;
  }
  .table tbody tr td:last-child {
      border-radius: 0 8px 8px 0;
  }

  .table tbody tr:hover{
    opacity: 0.9;
  } 
  
  */